@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <h1 class="display-4">Welcome</h1>
    <p>This is just a simple site built with ASP.NET Core. The purpose of this site is simply to demonstrate building a simple data-driven application using Entity Framework that allows a user to create, read, update, and delete items from tables in a database.</p>
    <p>I chose to create a database for a Staging Warehouse in SSMS, since I have a bit of experience writing software for a manufacturing environment.</p>
    <p>I used SweetAlert2 for the modal/pop-up windows and Datatables to display the data from the database tables.</p>
</div>
